<div class="row">
  <div class="col-sm-9">
    <h1>
      Revision history
    </h1>

    <%= revision_history_breadcrumb %>

    <% if @backup_file.text? %>
      <pre style="line-height:10px">
<% IO.foreach(@backup_file.storage_path).each_with_index do |output| %>
<%= output %> 
<% end %>
      </pre>
    <% elsif @backup_file.image? %>
      <div class="well">
        <%= image_tag "/profiles/#{@backup_file.profile_id}/browse/#{@backup_file.version}?file_id=#{@backup_file.id}" %>
      </div>
    <% elsif @backup_file.video? %>
      <div class="well">
        <%= video_tag "/profiles/#{@backup_file.profile_id}/browse/#{@backup_file.version}?file_id=#{@backup_file.id}", width: 800  %>
      </div>
    <% else %>
      <div class="well">
        <p>No preview for this file</p>
      </div>
    <% end %> 
  </div>
  <div class="col-sm-3">
    <h1>Revision time</h1>
    <ul class="list-group">
      <% @revisions.each do |file| %>
        <li class="list-group-item <%="active" if file.version == @backup_file.version %>">
          <% if file.version == @backup_file.version %>
            <%= file.last_modified.in_time_zone("Jakarta").strftime("%b %d, %Y %H:%M %Z") %>
          <% else %>
            <%= link_to file.last_modified.in_time_zone("Jakarta").strftime("%b %d, %Y %H:%M %Z"), revision_history_path(file) %>
          <% end %>
          &nbsp;
          <%= link_to "Restore", "/restore_file/#{@newest_revision.id}?version=#{file.version}", class: "btn btn-warning btn-sm", "data-method": :post, "data-confirm": "Are you sure to restore to this revision?" unless @revisions.first == file %>
        </li>
      <% end %>
    </ul>
  </div>
</div>